.delText {
	background: darkolivegreen;
	border-width: 5px 10px;
	border-color: yellow;
	border-radius: 5px 0;
	border-style: solid double;
	box-shadow: 10px 10px 10px purple;
	color: orange;
	margin: 10px;
	opacity: 50%;
}

button {
	background: blue;
	padding: 10px 5px;
}

.buttonWithText {
	margin: 20px;
}

#divWithDisplay {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 1200px;
	min-width: 700px;

	font-family: courier;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	line-height: 2;
}